<p style="color: green"><%= notice %></p>

<h1>Games</h1>

<div id="games">
  <% @games.each do |game| %>
    <p>
      <%="##{game.id} from #{l game.created_at}" %>
      <%= link_to "Watch", game %>
      <% if !game.opponent  && game.owner != controller.user_id %>
        <%= link_to "Join", join_game_path(game), data: {"turbo-method" => :post} %>
      <% end %>
    </p>
  <% end %>
</div>

<%= render "form", game: @new_game %>