| Hotwire | <%= link_to "React", react_game_path(@game) %>
<div class="main-container">

  <div class="game-container">
    <p style="color: green"><%= notice %></p>

    <%= render @game %>

    <%= turbo_stream_from @game %>

    <%#= render "squares", game: @game %>


    <% if @game.owner == controller.user_id %>
      <hr/>
      <div>
        <%= button_to "Destroy this game", @game, method: :delete %>
      </div>
    <% end %>


  </div>
  <div class="message-container">
    <h2>Messages</h2>
    <div id="messages">
      <%= render @game.messages %>
    </div>
    <%= turbo_frame_tag "new_message", src: new_game_message_path(@game), target: "_top" %>

  </div>
</div>
